:root {
    --primary-color: rgba(20, 109, 22, 1);
    --secondary-color: #DBC078;
    --light-color: #f5f5f5;
    --dark-color: #252525;
    --black-color: #000;
    --white-color: #fff;
    --light-blue-color: #E0EFF6;
    --lavender-color: #3B4896;
    --violet-color: #93478F;
    --yellow-background: rgba(254, 198, 0, .5)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #F5F5F5;
}

/* Utility */
.active {
    color: var(--primary-color) !important;
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color);
    cursor: default;
}

.accent {
    color: var(--primary-color);
}

.btn-primary {
    /* font-size: 1.2rem; */
    color: var(--light-color);
    padding: 10px 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
}

.btn-primary:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.navbar-brand .header {
    color: var(--primary-color);
}

.navbar-brand .header h1,
.navbar-brand .header h3 {
    margin: 0;
}

.navbar-brand .header h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-brand .header h3 {
    font-size: 1rem;
    font-weight: normal;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
}

.navbar-nav .nav-item {
    font-size: 1rem;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item a:hover:not(.active) {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    text-shadow: 0 0 5cqmin rgba(20, 109, 22, 0.2);
}

/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 500px;
    padding: 150px 40px 0;
    background-image: url('./assets/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-color);
}

.hero p {
    font-size: 1.3rem;
    font-weight: 400;
    width: 650px;
    color: var(--dark-color);
    background-color: var(--yellow-background);
}

/* About section */

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--light-blue-color);
}

.about-section .section-img img {
    width: 80%;
}

.about-section .section-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 40px;
    text-align: justify;
}

.about-section .section-details h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-color);
}

.about-section .section-details p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-color);
}

.about-section .section-details p.subheading {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--dark-color);
}

/* About page */

.about-page {
    margin-top: 40px;
}

.about-page .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 60px;
}

.about-page .about,
.about-page .our-mission {
    background-color: var(--white-color);
}

.about-page .choose-us {
    padding: 40px 60px;
}

.about-page .section-details .section-title {
    font-size: 2rem;
    font-weight: 700;
}

.about-page .section-details .section-description {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 20px;
}

.about-page .section-details .section-description span {
    font-weight: 700;

}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: .9rem;
}

.footer .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .content .copyright {
    font-size: inherit;
    margin: 0;
}

.footer .content .site-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .content .site-links a {
    color: var(--light-color);
    text-decoration: none;
}

.footer .content .social-links {
    display: flex;
    gap: 40px;
}

.footer .content .social-links a {
    color: var(--light-color);
    text-decoration: none;
    padding: 10px;
    background-color: var(--black-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}