:root {
  --primary-color: rgba(20, 109, 22, 1);
  --secondary-color: #DBC078;
  --light-color: #f5f5f5;
  --dark-color: #252525;
  --black-color: #000;
  --white-color: #fff;
  --light-blue-color: #E0EFF6;
  --lighter-blue-color: #D0E7F5;
  --lavender-color: #3B4896;
  --violet-color: #93478F;
  --yellow-background: rgba(254, 198, 0, .5)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'Inter', sans-serif;
  background-color: #F5F5F5;
}

/* Utility */
.active {
  color: var(--primary-color) !important;
  font-weight: 500;
  border-bottom: 2px solid var(--primary-color);
  cursor: default;
}

.accent {
  color: var(--primary-color);
}

.section-layout {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 5em auto 0;
  padding: 2em;
}

/* Button */
.btn-primary {
  font-size: 1rem;
  color: var(--light-color);
  padding: 0.625em 1.25em;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 50px;
  margin-top: 15px;
  transition: all 0.25s ease-in-out;
}

.btn-primary:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-color: var(--light-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

nav .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;
  text-decoration: none;
}

nav .navbar-brand .header {
  color: var(--primary-color);
}

nav .navbar-brand .header h1,
nav .navbar-brand .header h3 {
  margin: 0;
}

.navbar-brand .header h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-brand .header h3 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--dark-color);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 2.5em;
}

.navbar-nav .nav-item {
  font-size: 1.2rem;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item a:hover:not(.active) {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  text-shadow: 0 0 2px rgba(20, 109, 22, 0.2);
}

/*+++++++++++++ Home page +++++++++++++++++++ */

.home {
  font-size: 1rem;
  max-width: 1300px;
  margin: 0 auto;
}

/* Hero section */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 35em;
  padding: 9.375em 2.5em 2.5em;
  background-image: url('./assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--dark-color);
}

.hero p {
  font-size: 1.4em;
  font-weight: 500;
  color: var(--dark-color);
  text-align: justify;
  width: 75%;
  background-color: var(--yellow-background);
}

/* About section */

.about-section {
  display: grid;
  gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'illustration details details';
  padding: 2em;
  background-color: var(--light-blue-color);
}

.about-section .section-illustration {
  grid-area: illustration;
}

.about-section .section-details {
  grid-area: details;
}

.about-section .section-illustration img {
  width: 90%;
}

.about-section .section-details .section-title {
  font-size: 2.5em;
}

.about-section .section-details .section-subtitle {
  font-size: 1.8em;
}

.about-section .section-details .section-description {
  font-size: 1.4em;
}

/* +++++++++++++++ About page +++++++++++++++++ */

.about .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
  padding: 1.25em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about .section .section-details {
  width: 60%;
  padding: 0 1.5em;
  text-align: justify;
}

.about .section .section-details .section-title {
  font-size: 2em;
}

.about .section .section-details .section-description {
  font-size: 1.2em;
  line-height: 1.8;
  /* margin: 0; */
}

.about .section .section-illustration {
  width: 40%;
}

.about .section .section-illustration img {
  width: 100%;
  border-radius: 10px;
}

.about .about-kanuniafya,
.about .our-mission {
  background-color: var(--white-color);
}

.about .choose-us {
  padding-top: 2.5em;
}

.about .choose-us .section-details {
  width: 100%;
}

.about .choose-us .section-details .section-title {
  text-align: center;
}

.about .section:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* ++++++++++++++ Services page ++++++++++++++++ */

.services {
  font-size: 1rem;
  margin-top: 5em;
}

.services .page-header {
  font-size: 2em;
}

.services .page-subheading {
  font-size: 1.6em;
}
.services .page-header,
.services .page-subheading {
  text-align: center;
}

.services .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services .section .section-details {
  width: 60%;
  padding: 0 1.5em;
}

.services .section .section-details .section-title {
  font-size: 2.5em;
}

.services .section .section-details .section-subtitle {
  font-size: 1.6em;
  text-transform: uppercase;
}

.services .section .section-details .section-description {
  font-size: 1.4rem;
  text-align: left;
}

.services .section .section-illustration {
  width: 40%;
}

.services .section .section-illustration img {
  width: 100%;
  border-radius: 10px;
}

.services .otc {
  background-color: var(--lavender-color);
}

.services .online-ordering {
  background-color: var(--lighter-blue-color);
}

.services .prescription-services {
  background-color: var(--violet-color);
}

.services .otc .section-title,
.services .otc .section-description,
.services .prescription-services .section-title,
.services .prescription-services .section-description {
  color: var(--white-color);
}

.services .otc .section-subtitle,
.services .prescription-services .section-subtitle {
  color: var(--secondary-color);
}

.services .online-ordering .section-subtitle {
  color: var(--primary-color);
}

.services-page,
.contact-page {
  margin-top: 80px;
  padding-top: 40px;
}

/* Contact page */
.contact-page {
  padding: 40px;
  background-color: var(--white-color);
  padding-bottom: 0;
}

.contact-page h2 {
  font-size: 2rem;
}

.contact-page .welcome-text {
  font-size: 1.2rem;
  text-align: center;
}

.contact-section {
  margin-bottom: 40px;
  padding: 20px 40px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.contact-section .map {
  padding: 0;
}

.contact-section .map img {
  width: 100%;
  border-radius: 5px;
}

.contact-section .contact-form {
  padding: 40px;
}

.contact .contact-section .contact-form form .row {
  padding: 0 0.7em;
}

.contact .contact-section .contact-form form .input-grp {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.contact .contact-section .contact-form form .input-grp:focus-within {
  background-color: var(--light-blue-color);
}

.contact .contact-section .contact-form form label {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--primary-color);
}

.contact .contact-section .contact-form form input,
.contact .contact-section .contact-form form textarea {
  font-size: 0.8rem;
  margin: 0.5em 0;
  padding: 8px;
  border: none;
}

.contact .contact-section .contact-form form input:focus,
.contact .contact-section .contact-form form textarea:focus {
  outline: none;
}

.contact .contact-section .contact-form form textarea {
  resize: none;
}

.contact .contact-section .contact-form form .input-grp .errMsg {
  font-size: 0.7em;
  color: red;
}

.contact .contact-section .contact-form form button {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: var(--light-color);
  width: 30%;
  margin: 1em 0 0 0.5em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.contact .contact-section .contact-form form button:hover {
  transform: scale(.95);
}

/* Contact map */

.contact .contact-section .contact-map {
  grid-area: map;
}

.contact .contact-section .contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Contact Info */

.contact .contact-section .contact-info {
  grid-area: info;
  margin-top: 1.5em;
}

.contact .contact-section .contact-info .info-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    'address phone email social';
}

.contact .contact-section .contact-info .info-items .info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.contact .contact-section .contact-info .info-items .info-item .info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 2.5em;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5em;
  border-radius: 50%;
}

.contact .contact-section .contact-info .info-items .info-item .info-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact .contact-section .contact-info .info-items .info-item .info-details p {
  font-size: 0.8em;
  /* color: var(--violet-color); */
}

.contact .contact-section .contact-info .info-items .social-links {
  display: flex;
  gap: 1.em;
  font-size: 1.2em;
}

.contact .contact-section .contact-info .address {
  grid-area: address;
}

.contact .contact-section .contact-info .phone {
  grid-area: phone;
}

.contact .contact-section .contact-info .email {
  grid-area: email;
}

.contact .contact-section .contact-info .social {
  grid-area: social;
}

/* Footer */

.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

.footer .footer-heading {
  display: flex;
  flex-direction: column;
}

.footer .footer-title {
  font-size: 1.5rem;
}

.footer .copyright {
  font-size: 1rem;
}

.footer .footer-content .site-links ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0;
}

.footer .footer-content .site-links a {
  color: var(--light-color);
  text-decoration: none;
}